body {
            text-align: center;
            background-color: #f2f2f2;
            color: #333;
        }
        #addRepoContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        #addRepoBtn {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            transition: all 0.3s ease;
        }
        #addRepoBtn:hover {
            background-color: #0056b3;
            animation: bounce 0.5s ease;
        }
        @keyframes bounce {
            0% { transform: translateY(0); }
            50% { transform: translateY(-10px); }
            100% { transform: translateY(0); }
        }
        @media (prefers-color-scheme: dark) {
            body {
                background-color: #333;
                color: #f2f2f2;
            }
        }